spring:
  application:
    name: postal-management

  # Database Configuration
  datasource:
    url: jdbc:mysql://localhost:3306/pms_db
    username: root
    password: octguy
    driver-class-name: com.mysql.cj.jdbc.Driver

  # JPA/Hibernate Configuration
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true
    open-in-view: false

# Server Configuration
server:
  port: 8080

logging:
  level:
    org.f3.postalmanagement: DEBUG
